
<img src="https://i.pinimg.com/originals/e6/9b/5e/e69b5ef0349fd2277256f1d2acbb5dec.png" alt="burgerImg">

<h1>Devour A Burger!</h1>

<h3>Choose A Burger That You Want To Eat</h3>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers that are devoured!</h3>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
{{!- the action element connects this form to the post route --}}
{{!-- the method allows for the POST capabilities --}}
<form class="create-form" action="/api/burger" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
    <button type="submit">Add Burger</button>
  </div>
  
  
</form>
